@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    top: 0;
}

body {
    background-image: url("static/DSC_0125.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255);
    backdrop-filter: blur(20px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    height: 2%;
    padding: 2% 0%;
    border-bottom: rgba(128, 128, 128, 0.286) 1px solid;
}

h1 { 
    text-indent: 0.5in;
}

#first-content {
    backdrop-filter: brightness(60%);
}

.main-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding-bottom: 10vh;
}

#first-content h2 {
    font-size: 250%;
    color: white;
    min-width: 100%;
}

#first-content .information {
    padding-left: 1.5in;
    padding-top: 10%;
}

.text-wrap, .img-wrap {
    min-width: 50%;
    max-width: 50%;
}

.first-word {
    word-spacing: 22px;
    letter-spacing: 22px;
    text-decoration: line-through;
}

.special-font {
    color: rgb(75, 215, 75);
    font-family:'Times New Roman', Times, serif; 
    font-size: larger; 
    margin-top: 10px; 
    text-align: right; 
    margin-right: 1in;
    font-weight: bold;
    font-size: 500%;
}

.special-font-second {
    letter-spacing: 10px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 10px;
}

.special-font-third {
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 10px; 
    text-align: right; 
    margin-right: 1in;
    font-weight: bold;
    font-size: 800%;
}

#first-content img {
    opacity: 0.9;
    width: 500px;
    height: auto;   
}

#second-content {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    padding-top: 30vh;
    backdrop-filter: brightness(60%);
}


.thought {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    text-transform: none;
}

.thought {
    padding-bottom: 20vh;
}

.thought .text-wrap {
    min-width: 40%;
    max-width: 40%;
}

.thought img {
    opacity: 0.9;
    width: 500px;
    height: auto;   
    border-radius: 20px;
}

.thought .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thought .information h2 {
    border-left: rgb(75, 215, 75) solid 5px;
    padding-left: 10px;
    font-size: 200%;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5vh;
    width: fit-content;
    transition: all 0.3s;
}

.thought .information p {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 0.5in;
    font-size: larger;
}

.thought .information h2:hover {      
    border-left: white solid 0px;
    border-bottom: white solid 5px;
    color: rgb(75, 215, 75);
}